header {
    display: inherit;
    height: 40vh;

    background-image: url('../img/home_bg.png');
    background-position: center;
    background-size: cover;

    .menu-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: $row-height !important;
        height: $row-height !important;
        margin: 0 auto 0 0;
        cursor: pointer;

        img {
            height: #{$row-height / 2};
        }
    }

    .title {
        display: block;
        align-items: center;
        width: 61vw;
        margin: 5vh auto auto auto;

        color: #fff;

        h1 {
            font-size: 2.5em;
            margin-bottom: 10px;
            text-shadow: 0 3px 5px #ccc;
        }

        span {
            text-shadow: 0 3px 5px #ccc;
        }
    }

    .search-bar {
        position: absolute;
        top: 37.25vh;
        height: 5vh;
        width: 65vw;
        margin-left: 50%;
        transform: translateX(-50%);

        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 5px 30px #777;

        input {
            width: 90%;
            height: 100%;
            margin: 0;
            padding: 0 17px 0 7px;

            background: url('../img/icons/search.svg') right no-repeat;
            border: none;
            outline: none;
        }
    }
}