//scss configuration

//colors
$base-color: #fff;
$primary-accent-color: #766dff;
$primary-color: #484554;
$secondary-accent-color: #000;
$secondary-color: #ada9bb;

//dark mode colors
$base-color-dark: #1b1d20;
$primary-accent-color-dark: #fff;
$primary-color-dark: #fff;
$secondary-accent-color-dark: #fff;
$secondary-color-dark: #fff;

// default stylings
	:root {
	--base-color: #{$base-color};
	--ns-height: 1vh;
	--ns-width: 1vw;
	--primary-accent-color: #{$primary-accent-color};
	--primary-color: #{$primary-color};
	--secondary-accent-color: #{$secondary-accent-color};
	--secondary-color: #{$secondary-color};
	background: var(--base-color);
	color: var(--primary-color);
	font-family: 'Roboto', sans-serif;
	font-size: calc(1rem + (var(--ns-width) * .5));
	font-weight: 400;
	//font-weight: 300-700[300=light, 400=regular, 500=medium, 600=semi-bold, 700=bold]
	overflow: hidden;
	scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
	background: inherit;
	border: 0;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	hyphens: auto;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
	word-break: break-word;
	word-wrap: break-word;
  box-sizing: inherit;
}

img[data-color-scheme='dark']{
  display: none !important;
}

a,
button,
label {
	transition: opacity .15s;
}

a:hover,
a:active,
button:hover,
button:active,
label:hover,
label:active {
	opacity: .65;
}

img {
	object-fit: contain;
	object-position: center;
	min-width: 0;
	min-height: 0;
	max-width: 100%;
	max-height: 100%;
}

#not-supported {
  background: $base-color;
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#not-supported span {
  color: $primary-color;
  display: table-cell;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
}

@supports (display: flex) and (--css: variable) {
	:root  {
		overflow-y: auto;
		overflow-x: hidden;
	}
  #not-supported {
    display: none;
  }

  #not-supported span {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark){
  :root {
		--base-color: #{$base-color-dark};
	  --primary-accent-color: #{$primary-accent-color-dark};
	  --primary-color: #{$primary-color-dark};
	  --secondary-accent-color: #{$secondary-accent-color-dark};
	  --secondary-color: #{$secondary-color-dark};
  }

  img[data-color-scheme='light'] {
    display: none !important;
  }

  img[data-color-scheme='dark'] {
    display: initial !important;
  }
}

@media screen and (hover: none) and (pointer: coarse) {
  * {
    cursor: default !important;
  }
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
