@use "components/topstyles";
@use "components/toolbar";
@use "components/sidedrawer";
@use "components/hbmenu";
@use "components/backdrop";
@use "components/bottomstyles";

.list {
  display: none;
}

.list:target {
  display: block;
}

input[type=checkbox] {
  display: none;
}

label {
  display: flex;
  align-items: center;
}

label::before {
  content: '';
  display: inline-flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
  box-sizing: border-box;
  margin: 0 5px 0 0;
}

input[type=checkbox]:checked + label::before {
  border: 5px solid red;
  background: blue;
}
